/* ==================ABOVE DEFAULT VITE CSS=================== */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.animate {
  animation: animate 20s linear;
}

@keyframes animate {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #f0f2f5;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
